<!DOCTYPE html>
<html>

<head>
  <title>
    <%= title %>
  </title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body>
  <h1>
    <%= title %>
  </h1>
  <p>Welcome to <%= title %>
    <div>Server with webHookd </div>
    <!-- <div>Test Server with webHookd </div>
    <div>Test11 Server with webHookd </div> -->
    <!-- <div> Here Sync Email, And Serve Data from MongoDB to VueJS</div> -->
  </p>
  <!-- <a href="/api/pop3/email/1">Get an Email (1)</a>
  <a href="/api/pop3/get-attachment/10">Get an Email attachment link (1)</a>
  <a href="/api/pop3/list-local">Email List</a>
  <a href="/api/lessons/all">All Lesson List</a> -->
</body>

</html>