<!DOCTYPE html>
<html>

<head>
  <title>
    <%= title %>
  </title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body>
  <h1>
    <%= title %>
  </h1>
  <p>Welcome to <%= title %>
  </p>
  <a href="/pop3/email/1">Get an Email (1)</a>
  <a href="/pop3/list/">Email List</a>
</body>

</html>